* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../img/main_bg.jpg) 0px 0px no-repeat;
}
.main {
	position: relative;
	margin: 0 auto;
}
#sidebar-Nav {
	height: 500px;
	float: left;
	width: 324px;
	background: #ff0;
	margin-left: 10px;
}
#container {
	position: relative;
	margin: 0 auto;
}
#container div {
	position: absolute;
	/*background: #000;*/
	margin: 0 auto;
}