* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../img/main_bg.jpg) 0px 0px repeat;
}
.main {
	position: relative;
	border: 1px solid red;
	margin: 0 auto;
}
#sidebar-Nav {
	height: 500px;
	float: left;
	width: 324px;
	background: #ff0;
	margin-left: 10px;
}
#container {
	position: relative;
	height: 300px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}
#container div {
	position: absolute;
	background: #000;
}